@font-face {
    font-family: NunitoBlack;
    src: url('fonts/Nunito-Black.ttf');
}

@font-face {
    font-family: NunitoSemiBold;
    src: url('fonts/Nunito-SemiBold.ttf');
}

@font-face {
    font-family: Nunito;
    src: url('fonts/Nunito-Regular.ttf')
}

@font-face {
    font-family: PlayfairBlack;
    src: url('fonts/PlayfairDisplay-Black.ttf');
}

@font-face {
    font-family: Merriweather-light;
    src: url('fonts/Merriweather-Light.ttf');
}
@font-face {
    font-family: Merriweather-bold;
    src: url('fonts/Merriweather-Bold.ttf');
}


@font-face {
    font-family: Playfair;
    src: url('fonts/PlayfairDisplay-Regular.ttf')
}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.menu{
    list-style-type: none;
    display: flex;
    justify-content: start;
    margin-top: 50px;
}   
body{
    margin: 0px;
    overflow-x: hidden;
}

 h3, h5, h6, p, a, li {
    font-family: 'Playfair', serif;
}
    
.menu-item{
    margin-left: 15px;
    padding: 10px 15px;
    color: white;
    font-family: 'Nunito', sans-serif;

}
.fifth-item{
    margin-left: 15px;
    padding: 10px 20px;
    color: white;
    font-family: 'Nunito', sans-serif;
    border-style:solid ;
    border-width: 1px;

}
.sixth-item{
    margin-left: 15px;
    padding: 10px 15px;
    color: white;
    font-family: 'Nunito', sans-serif;
    

}
.header-nav-conatiner{
    background-color:violet;
    background-image: linear-gradient(to bottom left,orange,rgb(224, 85, 224),rgb(133, 133, 245),lightblue);
    height: 500px;
    opacity: 0.7;
}
.header-letter{
    margin-top: 47px;
    margin-left: 50px;
}
.bring{
    font-size: 50px;
}
.image-container{
    object-fit: contain;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.radial-background {
    background-image: radial-gradient(white, #f3e8f5, #f0f1fb, white, white, white);
    position: absolute;
    top: -150px;
    left: -350px;
    height: 700px;
    width: 700px;
    z-index: -2;
}

.logo-text {
    font-family: 'NunitoBold', sans-serif;
    font-weight: 900; 
    font-size: 20px;
    cursor: pointer;
    width: max-content;
}

.moto { 
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: 1fr 1fr;
}
.moto hr{
    height: 0px;
    width: 50px;
    align-self: center;
    margin-right: 10px;
}

.moto p {
    color: #949397;
    width: 60%;
    font-family: 'Nunito', sans-serif;
}

.free-trial-button{
    background-image: linear-gradient(to right, #d494b1 20%, #a2abf6,#d494b1);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    width: 220px;
    height: 50px;
    font-size: 15px;
    cursor: pointer;
    font-family: Playfair;
    text-transform: capitalize;
    border: none;
    color: white;
    grid-column: 2/3;
}

.free-trial-button:hover {
    background-position: left bottom;
}

.container {
    display: grid;
    grid-template-rows: max-content max-content;
}
.radial-background-2 {
    background-image: radial-gradient(white, #f3e8f5, #f0f1fb, white, white, white);
    position: absolute;
    float: right;
    top: 550px;
    right: -301px;
    height: 600px;
    width: 600px;
    z-index: -2;
}

.laptop-container {
    width: 100%;
    display: grid;
    margin-top: 50px;
}

.laptop {
    width: 70%;
    align-self: center;
    justify-self: center;
}

.laptop img{
    object-fit: cover;
    width: 100%;

}
.letter{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
 
}
.letter h2{
    width: 400px;
    font-family: NunitoSemiBold;
    font-size: 40px ;
    font-weight: lighter;
}
.bold{
    font-family: Merriweather-bold;
    font-weight: 600;
}
.inbox-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 150px 0px;
    background-image: linear-gradient(to right ,#e0eaf9,#e9e0f7,#fdebce);
    height: 500px;
}
.inbox-image{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    height: 500px;

}
.inbox-text{
    width: 270px;
    font-family: Nunito;
}
.inbox-text p{
    font-size: 13px;
    font-family: Nunito;
}
.inbox-text h2{
    font-size: 55px;
    font-family: Merriweather-light;
    font-weight: lighter;
    width: 540px;
    line-height: 70px;
}
.phrase-1{
    color:#49414c ;

}
.phrase-2{
    font-weight: bold;
}
.authors-header{
    text-align: center;
    font-family: Merriweather-light ;
    font-size: 25px;
    font-weight: 100;
}
.authors-container{
    display: grid;
    grid-template-columns: 51% 49%;
    grid-template-rows: max-content;
    height: 700px;

}
.authors-text{
    display: grid;
    
    grid-row: 1/2;
}
.authors-text p::before{
    content: " \" ";
    position: relative;
    color: wheat ;
    display: block;
    font-size: 150px;
    top: 145px;
    opacity: 0.5;
    
    
}
.author-biography{
    position: relative;
    top: -161px;
    font-size:30px ;
    color: gray;
    width: 650px;
    grid-column: 1/3;
}
.radial-background-3 {
    background-image: radial-gradient(#f3e8f5 45%, #f0f1fb 58%, white 72%);
    background-size: 600px 600px;
    background-repeat: no-repeat;
    background-position: center center;
    grid-column: 1/2;
    z-index: -2;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-row: 1/2;
    height: 655px;
}

.radial-background-3 img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 100%;
}
.footer{
    height: 500px;
    bottom: 0px;
    display: grid;
    
    grid-template-rows: 1fr 1fr;
    background-color:#f0f1fb;

}
.footer p{
    font-size: 47px;
    width: 800px;
    display: flex;
    justify-content: center;
    word-spacing: 10px;
    letter-spacing: 2px;
    
}
.free-trail-button-container{
    margin-top: 86px;
}
.footer .logo-text{
    display: flex;
    align-self: flex-start;
    justify-self: center;
}
.table{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer-text{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.footer-lists{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.table-nav-container{
    list-style-type: none;
    line-height: 35px;
}
.first-item{
    font-weight: 700;
}
